<h1>Sanitize Screaming Frog CSV</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :h2, msg, class: name %>
<% end -%>

<hr/>

<%= render 'form', screaming_frog: @screaming_frog %>

<hr/>

<% if @screaming_frog.sanitized_rows %>
  <textarea cols="150" rows="40">
    <% @screaming_frog.sanitized_rows.each do |row| %>
<%= row.join(",") + "\r\n" -%>
    <% end -%>
  </textarea>
<% end %>
