<h1>New Preparation</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :h2, msg, class: name %>
<% end -%>

<hr/>

<%= render 'form', preparation: @preparation %>

<hr/>

<% if @preparation.sanitized_rows %>
  <textarea cols="150" rows="40">
    <% @preparation.sanitized_rows.each do |row| %>
<%= row.join(",") + "\r\n" -%>
    <% end -%>
  </textarea>
<% end %>
